@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;

@reference "tailwindcss";
.nav-style {
  @apply bg-gray-800 text-white px-6 py-4 flex justify-between items-center
}




body {
  background-color: #111827;
  color: white;
  font-family: sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0f172a; /* very dark blue */
}

::-webkit-scrollbar-thumb {
  background-color: #334155; /* dark grayish-blue */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #475569; /* lighter on hover */
}
